html, body{
	margin: 0px;
	padding: 0px;
	height: 100vh;
	background-color: #232136;
	color: #6e6a86;
	overscroll-behavior-y: none;
}

body{
	display: flex;
	align-text: center;
	justify-content: center;
}

#screen{
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: flex;
	align-text: center;
	justify-content: center;
}

pre{
	margin: 0px;
}



